.u-section-1 {
  background-image: url("images/Untitled-2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 862px;
}

.u-section-1 .u-text-1 {
  margin: 25px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 70px;
  height: 68px;
  margin: -68px auto 0 -70px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 3rem;
  margin: 0 auto 0 136px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 128px auto 0 32px;
}

.u-section-1 .u-social-icons-1 {
  height: 44px;
  min-height: 16px;
  width: 219px;
  min-width: 134px;
  margin: 448px auto 33px 42px;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 680px;
  }

  .u-section-1 .u-image-1 {
    width: 82px;
    height: 79px;
    margin-left: 324px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -11px;
    margin-left: 452px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 720px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 504px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 546px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 768px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 392px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 637px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 844px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 189px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 761px;
  }
}