body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.content {
  position: flex;
}
.bookmark_description {
  text-overflow: ellipsis;

  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
  padding-left: 60px;
}
.button-url {
  align-items: baseline;
}
.timelineadd {
  padding-top: 50px;
  padding-left: 10px;
  color: darkslategrey;
}
.data-timeline {
  color: gray;
  font-weight: normal;
}
.share {
  padding-top: 10px;
  padding-right: 10px;
  color: #9370db;
  font-size: 25px;
}

.tt {
  padding: 3px;
  background-color: #9370db;
  color: white;
  font-size: 13px;
  border-radius: 4px;
  width: 150px;
  margin-left: 100px;
  margin-top: 20px;
  font-weight: bold;
}
.bookmark_description1 {
  text-overflow: ellipsis;

  width: 700px;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
  padding-left: 150px;
}
.bookmark_title {
  text-overflow: ellipsis;
  padding: 7px;
  overflow: hidden;
  white-space: nowrap;
}
.timeline-tile {
  display: flex;
  size: 14px;
  color: gray;
  font-weight: normal;
  margin-left: 10px;
}
.custom-modal {
  display: inline-flexbox;
  padding: 50px;
  padding-top: 10px;
}
.button-modal {
  margin: 10px;
  padding: 30px;
  color: blue;
}
.input-create-new-journey {
  width: 300px;
  height: 10px;
  padding: 15px;
  margin-left: 30px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn-create-new-journey {
  margin: 20px;
  margin-left: 100px;
  background-color: blueviolet;
  color: white;
  height: 30px;
  width: fit-content;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
.heading-create-new-journey {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.font-moderat {
  font-family: "Moderat", sans-serif;
}

.text-color {
  color: #3a4859;
}
.text-format {
  line-height: 43.2px;
}
.back {
  background: #fafcfe;
  box-shadow: 0px 3px 12px rgba(38, 38, 65, 0.12);
}
.element-background {
  background: linear-gradient(0deg, #f1f8d4, #f1f8d4), #243447;
  margin-left: 20rem;
}

.font-moderat {
  font-family: "Moderat", sans-serif;
}

.text-color {
  color: #3a4859;
}
.community-name {
  font-weight: bold;
  display: flex;
  margin-left: 6px;
  width: fit-content;
}
.commuinty-members {
  display: flex;
  font-size: 13px;
  margin-left: 10px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


.event__search__floater {
  position: absolute;
/*   left:0; */
  right: 80px;
  transition: all ease-in-out 0.2s;
  transform: translate(-50%, -50%);
  top : 500px;
  z-index: 10;

}

.search__anchor{
  position: relative;
  width:auto;
  height: auto;
/*   TODO: Center anchor */
}
.search__submit {
 opacity:0;
  width: 0px;
}
.search__bar {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  outline:none;
  border:none;
  background: #fff;
  width: 50px;
  height:50px;
  border-radius: 25px;
  opacity: 0;
  z-index:5;
  transition: all 0.2;
  font-size: 1em;
}
.search__bar:hover{
  cursor: pointer;
}
.search__bar:focus {
  width: 200px;
  left:auto;
  opacity: 1;
  cursor: text;
  transition: all 0.2;
  padding-left: 25px;
  padding-right: 70px;
}
.search__toggler {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #0062ff;
  opacity: 1;
  top: -4px;
  left: -4px;
  border-radius: 50%;
  transition: all 0.2s;
}
.search__toggler:hover{
  cursor: pointer;
}
.search__toggler::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right:0;
  bottom:0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
  transition: all 0.2s;
}
.search__toggler::after {
  content: "";
  position: absolute;
  margin: auto;
  top:-5px;
  right:0;
  bottom:0;
  left: -5px;
  width:25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all 0.2s;
}
.search__bar:focus ~ .search__toggler {
  right: 400px;
  background: #151515;
  z-index: 6;
  transition: all 0.2;
}
.search__bar:focus ~ .search__toggler::before{
  top: 0;
  left: 0;
  width: 25px;
}
.search__bar:focus ~ .search__toggler::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.add-btn{
  z-index: 10;
  
}
.add-url-heading{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: large;
  font-weight: bold;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #47ccde ;
  border-color: #47ccde ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #47ccde ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #47ccde ;
  border-color: #47ccde;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #47ccde
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}