body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bookmark_description {
  text-overflow: ellipsis;

  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
  padding-left: 60px;
}
.button-url {
  align-items: baseline;
}
.timelineadd {
  padding-top: 50px;
  padding-left: 10px;
  color: darkslategrey;
}
.data-timeline {
  color: gray;
  font-weight: normal;
}
.share {
  padding-right: 10px;
  color: #008080;
}

.tt {
  padding: 3px;
  background-color: #008080;
  color: white;
  font-size: 13px;
  border-radius: 4px;
  width: 150px;
  margin-left: 100px;
}
.bookmark_description1 {
  text-overflow: ellipsis;

  width: 700px;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
  padding-left: 60px;
}
.bookmark_title {
  text-overflow: ellipsis;
  padding: 7px;
  overflow: hidden;
  white-space: nowrap;
}
.timeline-tile {
  display: flex;
  size: 14px;
  color: gray;
  font-weight: normal;
  margin-left: 10px;
}
.custom-modal {
  display: inline-flexbox;
  padding: 50px;
  padding-top: 10px;
}
.button-modal {
  margin: 10px;
  padding: 30px;
  color: blue;
}
.input-create-new-journey {
  width: 300px;
  height: 10px;
  padding: 15px;
  margin-left: 30px;
  font-size: 16px;
}
.btn-create-new-journey {
  margin: 20px;
  margin-left: 130px;
  background-color: blueviolet;
  color: white;
  height: 30px;
}
.heading-create-new-journey {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
